html {
  background-color: grey;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 340px;
  background-color: black;
  border-radius: 3%;
  border: 2px solid black;
}
.calculator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 440px;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 36px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: rgb(88, 88, 88);
}
.parameters,
.extras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 64px;
  border: 1px solid black;
  border-radius: 13%;
  margin: 0 auto;
  background-color: rgb(186, 186, 186);
  font-size: 24px;
}
.parameters:hover {
  background-color: rgb(254, 247, 247);
  border: 2px solid white;
}
.extras:hover {
  background-color: rgb(254, 247, 247);
  border: 2px solid white;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 60px;
  width: 64px;
  border: 1px solid black;
  border-radius: 13%;
  margin: 0 auto;
  background-color: rgb(186, 186, 186);
  font-size: 32px;
}
.numbers:hover {
  background-color: rgb(254, 247, 247);
  border: 2px solid white;
}
#point {
  font-size: 48px;
}
#equal {
  background-color: rgb(236, 224, 0);
}
#delete,
#clear {
  background-color: red;
  margin-left: 4px;
}
#clear {
  margin-left: 8px;
}
#plus,
#minus,
#divide,
#multiply {
  background-color: #98ff98;
}
.reset-container {
  display: flex;
  width: 300px;
}
.reset-buttons {
  display: flex;
}
.display {
  display: flex;
  flex-direction: column;
  /* justify-content: right;
  align-items: center; */
  height: 80px;
  width: 280px;
  border-radius: 3%;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 2px solid white;
  background-color: rgb(120, 120, 120);
  color: white;
}
.top-display {
  /* border: 2px solid white; */
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 4px;
  margin: 2px;
  height: 24px;
  border-radius: 3%;
  font-size: 20px;
}
.main-display {
  /* border: 2px solid white; */
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 4px;
  margin: 2px;
  height: 48px;
  border-radius: 7%;
  font-size: 36px;
}
